# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
fp-lib-table
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*.dcm

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

# Plot file
*.gbr
*.gbl
*.gto
*.drl
*.drl
*.gts
*.gtl
*.Cuts.gm1
